div{
    width: 500px;
    height: 100%;
    margin: auto;
    background-color: rgb(203, 253, 228);

}
li{
    list-style: none;
    width: 450px;
    height: 40px;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 30px;
    background-color: rgb(99, 255, 177);
    border:1px solid rgb(198, 198, 198) ;
}
input{
    width: 350px;
    padding: 0;


}
.button-primary{
    margin-left: 10px;
    height: 26px;
    align-items: center;
    justify-content: center;
}
.DelItem{
    padding: 0;
    height: 40px;
    width: 40px;
}