div{
    width: 500px;
    height: 100%;
    margin: auto;
    background-color: #5B84B1FF;

}
li{
    list-style: none;
    width: 450px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    padding-left: 10px;
    font-size: 26px;
    background-color: #FC766AFF;
    border:2px solid  rgb(250, 99, 85);
}
input{
    width: 350px;
    padding: 0;
    


}
.button-primary{
    margin-left: 10px;
    height: 26px;
    align-items: center;
    justify-content: center;
}
.DelItem{
    padding: 0;
    height: 40px;
    width: 40px;
    
}
.li{
    padding:0%;
    margin:0%;
}
.list-left{
    margin-left: 12px;
}
.fa-trash{
    color: #5B84B1FF;
}
.border{
    border:2px solid  rgb(250, 99, 85);
}
